.ReactModal__Overlay {

	text-align: center;
	padding: 20px;

}

:local(.actionChooser) {

	overflow-y: scroll;
	height: 100%;
	text-align: left;
	display: inline-block;
	background-color: white;
	padding: 5px;

	.list-view {
		vertical-align: top;
		display: inline-block;
	}

	.tree-view {

	    font-family: system-ui;
	    font-size: 13;
		vertical-align: top;
		display: inline-block;
		padding-top: 20px;

		.tree-view-node {
			margin-left: 20px;

			.expand:before {
				content: "v";
			}
			
			.collapse:before {
				content: ">";
			}
		}
	}

}