:local(.actionChooser) {

	height: 100%;
	text-align: left;
	display: inline-block;
	background-color: white;
	width: 40%;

	.tree-view {
		overflow-y: scroll;
		overflow-x: scroll;
	    font-family: system-ui;
	    font-size: 13;
		display: inline-block;
		padding-top: 20px;
	    height: 100%;
    	width: 50%;

		.tree-view-node {
			margin-left: 20px;

			.expand:before {
				content: "v";
			}
			
			.collapse:before {
				content: ">";
			}
		}
	}

}