:local(.hoverList) {

	li {
		list-style-type: none;
		padding: 5;
		background-color: transparent;
	}

	li:hover {
		background-color: lightgray;
	}

	button {
	    border: none;
	    background-color: transparent;
	    font-size: 13;
        width: 100%;
	    text-align: left;
	    height: 25px;
	    padding: 0px;
	}

}